* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html {
 font-size: 62.5%;
 font-family: "Inter";
}

.main-header {
    width: 100%;
    background-color: rgba(255, 107, 26, 1);
}
.header-block {
    width:375px;
    height: 130px;
    color: rgba(255, 255, 255, 1);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.header-up .header-logo img{
padding: 0 12px;
}
.header-text-1{
font-weight: 700;
font-style: Bold;
font-size: 2.4rem;
line-height: 100%;
letter-spacing: 0%;
}
.header-text-2 {
    width: 100%;
font-weight: 500;
font-style: Medium;
font-size: 1.4rem;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 0.9);
margin-left: 15%;
}
.navbar{
    background-color: rgba(26, 26, 26, 1);
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    
}
.navbar .menu {
width: 10.3rem;
height: 3.7rem;
border-radius: 8px;
background-color: rgba(255, 107, 26, 1);
color: rgba(255, 255, 255, 1);
font-weight: 500;
font-style: Medium;
font-size: 1.9rem;
line-height: 100%;
letter-spacing: 0%;
padding: 2px;
}
.menu img{
width: 17px;
height: 14px;
opacity: 1;
}
.nav-links{
visibility: hidden;

}

.welcome-card {
width: 100%;
height: 377px;
background-color: rgba(42, 42, 42, 0.9);
overflow: hidden;
position: relative;
z-index:1;

}
.background-image {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2; 
}
.welcome-card-text {
    width: 90%;
    height:30%;
    position: absolute;
    top: 40%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.upper-text {
font-family: "Inter";
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color:rgba(255, 255, 255, 1);
}
.below-text {
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: rgba(255, 255, 255, 0.9);
}
.techniques-header img {
    width: 24px;
    height: 24px;
}
.techniques {
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 16rem;
}
.techniques-box { 
    width: 325px;
    height: 200px;
    border-radius: 12px;
    background-color: rgba(255, 107, 26, 1);
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);

   
}
.card {
position: absolute;
top: 4px;
background-color: white;
    width: 325px;;
    height: 200px;
    z-index: 2;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);

}
.techniques-header {
padding: 35px 25px 10px 25px;
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);
display: flex;
align-items: center;
}
.techniques-header img{
    margin-right: 5px;
}
.techniques-paragraph {
    height: 125px;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(102, 102, 102, 1);
vertical-align: middle;
display: inline-block;
padding:1.2rem 2.7rem;
}

.footer {
width: 100%;
height: 9rem;
background-color: rgba(26, 26, 26, 1);
font-weight: 400;
font-style: Medium;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
display: flex;
justify-content: center;
align-items: center;
color: rgba(255, 255, 255, 1);
}

